@media screen and (min-width: 769px) {
  .footer {
    margin: 0;
  }

  .footer__copyright {
    width: auto;
    height: 16px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
    margin: 90px 0 25px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0;
  }

  .footer__copyright {
    width: auto;
    height: 16px;
    max-height: 16px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
    margin: 90px 0 25px 0;
  }
}
