@media screen and (min-width: 1280px) {
  .footer {
  }

  .footer__copyright {
    width: 194px;
    height: 16px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
    margin: 48px 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
  }

  .footer__copyright {
    width: 194px;
    height: 16px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: right;
    margin: 88px 0 24px 0;
  }
}
