@media screen and (min-width: 769px) {
  .intro {
    width: 100%;
    max-width: 830px;
    height: auto;
    max-height: 607px;
    margin: 92px auto 118px;
  }
  .intro__content {
  }

  .intro__title {
    width: 100%;
    max-width: 830px;
    height: auto;
    max-height: 173.92px;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 54px;

    line-height: 58px;
    letter-spacing: 0%;
  }

  .intro__poema {
    width: 100%;
    max-width: 738px;
    height: auto;
    max-height: 135.66px;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;

    line-height: 34px;
    letter-spacing: 0%;

    margin: 39.98px 0 0 0;
  }

  .intro__author {
    width: 100%;
    max-width: 732px;
    height: auto;
    max-height: 33.91px;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;

    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;

    margin-top: 10px;
  }

  .intro__description {
    width: 100%;
    max-width: 722px;
    height: auto;
    max-height: 181.54px;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin-top: 31.99px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: block;
    width: 100%;
    max-width: 720px;
    height: auto;

    margin: 90px auto 0;
  }

  .intro__title {
    width: 100%;
    max-width: 707px;
    height: auto;
    margin: 0 auto 50px;

    color: #ffffff;

    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 45px;

    line-height: 49px;
    letter-spacing: 0%;
  }

  .intro__poema {
    width: 100%;
    max-width: 720px;
    height: auto;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    margin: 0;
  }

  .intro__author {
    width: 100%;
    max-width: 720px;
    height: auto;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;

    line-height: 34px;
    letter-spacing: 0%;
    text-align: right;

    margin: 0 auto 0;
  }

  .intro__description {
    width: 100%;
    max-width: 720px;
    height: auto;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    margin: 32px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    display: block;
    width: 100%;
    max-width: 288px;
    height: auto;

    margin: 64px auto 0;
  }

  .intro__title {
    width: 100%;
    max-width: 288px;
    height: auto;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter-Black";
    font-weight: 900;
    font-size: 32px;

    line-height: 35px;
  }

  .intro__poema {
    width: 100%;
    max-width: 288px;
    height: auto;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;

    line-height: 30px;

    margin: 40px 0 0 0;
  }

  .intro__author {
    width: 100%;
    max-width: 288px;
    height: auto;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;

    line-height: 34px;
    text-align: right;

    margin-top: 10px;
  }

  .intro__description {
    width: 100%;
    max-width: 288px;
    height: auto;

    opacity: 1;

    color: #ffffff;

    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-top: 32px;
  }
}
