.intro {
  display: block;
  width: 830px;
  height: 607px;

  margin: 92px auto 0 0;
}

.intro__title {
  width: 830px;
  height: 173.92px;

  opacity: 1;

  color: #ffffff;

  font-family: Inter;
  font-weight: 900;
  font-size: 54px;

  line-height: 58px;
  letter-spacing: 0%;
}

.intro__poema {
  width: 738px;
  height: 135.66px;

  opacity: 1;

  color: #ffffff;

  font-family: Inter;
  font-weight: 400;
  font-size: 24px;

  line-height: 34px;
  letter-spacing: 0%;

  margin: 39.98px 0 0 0;
}

.intro__author {
  width: 732px;
  height: 33.91px;

  opacity: 1;

  color: #ffffff;

  font-family: Inter;
  font-weight: 400;
  font-size: 24px;

  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;

  margin-top: 10px;
}

.intro__description {
  width: 722px;
  height: 181.54px;

  opacity: 1;

  color: #ffffff;

  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  margin-top: 31.99px;
}
