@media screen and (min-width: 769px) {
  .lead {
  }

  .lead__content {
    width: 100%;
    max-width: 984px;
    height: auto;
    max-height: 983px;

    display: block;
    margin: 91px auto 0;
  }

  .lead__title {
    width: 100%;
    max-width: 720px;
    height: auto;
    max-height: 200px;

    opacity: 1;

    display: block;
    margin: 0 auto;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 96px;

    line-height: 100px;
    text-align: center;
  }

  .lead__subtitle {
    width: 100%;
    max-width: 720px;
    height: auto;
    max-height: 72px;

    display: block;
    margin: 32px auto 0;

    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__image {
    width: 100%;
    max-width: 984px;
    height: auto;
    max-height: 615px;

    display: block;
    margin: 64px auto 0;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .lead {
  }

  .lead__content {
    width: 100%;
    max-width: 768px;
    height: auto;

    display: block;
    margin: 90px auto 0;
  }

  .lead__title {
    width: 100%;
    max-width: 530px;
    height: auto;

    opacity: 1;

    display: block;
    margin: 0 auto;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    text-align: center;
  }

  .lead__subtitle {
    width: 100%;
    max-width: 720px;

    display: block;
    margin: 25px auto 0;

    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__image {
    width: 100%;
    max-width: 768px;
    height: auto;
    max-height: 480px;

    display: block;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
  }

  .lead__content {
    width: 100%;
    max-width: 320px;
    height: auto;

    display: block;
    margin: 50px auto 0;
  }

  .lead__title {
    width: 100%;
    max-width: 228px;
    height: auto;

    display: block;
    margin: 0 auto;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }

  .lead__subtitle {
    width: 100%;
    max-width: 288px;

    display: block;
    margin: 16px auto 0;

    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  .lead__image {
    width: 100%;
    max-width: 320px;
    max-height: 200px;
    height: auto;

    display: block;
    margin: 40px auto 0;
    opacity: 1;
  }
}
