.lead {
}

.lead__content {
  width: 984px;
  height: 983px;

  display: block;
  margin: 91px auto 0;
}

.lead__title {
  width: 720px;
  height: 200px;

  opacity: 1;

  display: block;
  margin: 0 auto;

  color: #ffffff;

  font-family: Inter;
  font-weight: 900;
  font-size: 96px;

  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  width: 720px;
  height: 72px;

  display: block;
  margin: 32px auto 0;

  opacity: 1;

  color: #ffffff;

  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;

  display: block;
  margin: 64px auto 0; /* reemplaza top:64px */
  opacity: 1;
}
