.page {
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

/* caja sensible que evita problemas de cálculo de ancho en móviles*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
