@media screen and (min-width: 769px) {
  .photo-grid {
    margin: 0 auto 46px;
    padding: 46px 48px 46px;
  }

  .photo-grid__list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));

    gap: 16px;
  }
  .photo-grid__item {
    margin: 0;
  }

  .photo-grid__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 18px auto 42px;
    padding: 46px 48px 46px;
  }

  .photo-grid__list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));

    gap: 16px;
  }
  .photo-grid__item {
    margin: 0;
  }

  .photo-grid__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 38px auto 62px;
    padding: 0 16px 0;
  }

  .photo-grid__list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));

    gap: 16px;
  }
  .photo-grid__item {
    margin: 0;
  }

  .photo-grid__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
