@media screen and (min-width: 1280px) {
  .photo-grid {
    width: 1184px;
    height: 442px;
    margin: 118px auto 0 43px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(2, 213px);
    gap: 16px;
  }

  .photo-grid__image {
    width: 284px;
    height: 213px;
    object-fit: cover;
    margin: 0;
  }
}
