@media screen and (min-width: 1280px) {
  .place {
    width: 987px;
    height: auto;

    opacity: 1;
    margin: 92px auto 0 auto;
  }

  .place__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .place__content_Gales {
    width: 984px;
    height: 756px;
    margin: 0 0 80px 0;
  }

  .place__content_EEUU {
    width: 984px;
    height: 756px;
    margin: 0 0 80px 0;
  }

  .place__content_Burundi {
    width: 984px;
    height: 892px;
    margin: 0 0 80px 0;
  }

  .place__content_Veracruz {
    width: 984px;
    height: 800px;
    margin: 0 0 90px 0;
  }

  .place__title {
    width: 460px;
    height: 152px;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0%;

    margin: 0 0 48px 0;
  }

  .place__website {
    width: 456px;
    height: 67px;
    opacity: 1;

    margin: 85px 28px 48px 40px;
  }

  .place__link {
    width: 85.17px;
    height: 15px;
    opacity: 1;

    color: #aaaaaa;

    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;

    margin: 0 0 8px 0;
  }

  .place__artist {
    width: auto;
    height: 22px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;

    margin: 0;
  }

  .place__paragraph {
    width: 484px;
    height: auto;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;

    margin: 0 0 25px 40px;
  }

  .place__image {
    width: 460px;
    height: 460px;
    opacity: 1;
    margin: 0;
  }

  .place__image_type_shadow {
    width: 460 px;
    height: 460px;
    top: 2728px;
    left: 151px;
    opacity: 1;
    box-shadow: 5px 5px 10px 0px #000000;
  }

  .place__frame {
    width: 289px;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    gap: 10px;
  }

  .place__frame_text {
    width: 289px;
    height: 48px;
    opacity: 1;
    margin: 48px 0 0 0;
    color: #ffffff;

    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .place__frame_type_linear-gradient {
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  }

  .place__frame_type_blur {
    box-shadow: 5px 5px 10px 0px #00000040;
  }
}
