@media screen and (min-width: 769px) {
  .place {
    width: auto;
    max-width: 987px;
    height: auto;

    opacity: 1;
    margin: 92px auto 0 auto;
  }

  .place__content {
    margin: 0;
  }

  .place__content_city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 460px auto;
  }

  .place__content_Gales {
    margin: 0 0 80px 0;
  }

  .place__content_EEUU {
    margin: 0 0 80px 0;
  }

  .place__content_Burundi {
    margin: 0 0 80px 0;
  }

  .place__content_Veracruz {
    margin: 0;
  }

  .place__title {
    grid-column: 1;
    grid-row: 1;

    width: auto;
    max-width: 460px;
    height: 152px;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0%;

    margin: 0 0 48px 0;
  }

  .place__website {
    grid-column: 2;
    grid-row: 1;

    width: auto;
    max-width: 456px;
    height: 67px;
    opacity: 1;

    margin: 85px 28px 48px 40px;
  }

  .place__link {
    width: auto;
    max-width: 85.17px;
    height: 15px;
    opacity: 1;

    color: #aaaaaa;

    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;

    margin: 0 0 8px 0;
  }

  .place__artist {
    width: auto;
    height: 22px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;

    margin: 0;
  }

  .place__content-paragraph {
    grid-column: 2;
    grid-row: 2/4;
  }

  .place__paragraph {
    width: auto;
    max-width: 484px;
    height: auto;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;

    margin: 0 0 25px 40px;
  }

  .place__image {
    grid-column: 1;
    grid-row: 2;

    width: auto;
    max-width: 460px;
    height: 460px;
    opacity: 1;
    margin: 0;
  }

  .place__image_type_shadow {
    width: auto;
    max-width: 460px;
    height: 460px;
    top: 2728px;
    left: 151px;
    opacity: 1;
    box-shadow: 5px 5px 10px 0px #000000;
  }

  .place__frame {
    width: auto;
    max-width: 289px;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    gap: 10px;
  }

  .place__frame_text {
    grid-column: 1;
    grid-row: 3;

    width: auto;
    max-width: 289px;
    height: 48px;
    opacity: 1;
    margin: 48px 0 0 0;
    color: #ffffff;

    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .place__frame_type_linear-gradient {
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  }

  .place__frame_type_blur {
    box-shadow: 5px 5px 10px 0px #00000040;
  }
}

@media screen and (max-width: 768px) {
  .place {
    width: auto;
    max-width: 720px;
    height: auto;

    margin: 0 auto 0;
  }

  .place__content {
    margin: 0;
  }

  .place__content_city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 340px auto;
  }
  .place__content_Gales {
    margin: 0 0 80px 0;
  }

  .place__content_EEUU {
    margin: 0 0 80px 0;
  }

  .place__content_Burundi {
    margin: 0 0 80px 0;
  }

  .place__content_Veracruz {
    margin: 0;
  }

  .place__title {
    grid-column: 1;
    grid-row: 1;

    width: auto;
    max-width: 340px;
    height: auto;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;

    margin: 0 0 48px;
  }

  .place__website {
    grid-column: 2;
    grid-row: 1;

    width: auto;
    max-width: 352px;
    height: 68px;

    margin: 0 0 40px 28px;
  }

  .place__link {
    width: auto;
    max-width: 67px;
    height: 15px;
    opacity: 1;

    color: #aaaaaa;

    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;

    margin: 0 0 8px 0;
  }

  .place__artist {
    width: auto;
    height: 22px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;

    margin: 0;
  }

  .place__content-paragraph {
    grid-column: 2;
    grid-row: 2/4;
  }

  .place__paragraph {
    width: 352px;
    height: auto;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;

    margin: 0 0 25px 28px;
  }

  .place__image {
    grid-column: 1;
    grid-row: 2;

    width: 340px;
    height: 340px;
    margin: 0;
  }

  .place__image_type_shadow {
    width: 340px;
    height: 340px;
    top: 2728px;
    left: 151px;
    opacity: 1;
    box-shadow: 5px 5px 10px 0px #000000;
  }

  .place__frame {
    width: 289px;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding: 13px 20px;
    gap: 10px;
  }

  .place__frame_text {
    grid-column: 1;
    grid-row: 3;

    width: 289px;
    height: 48px;
    opacity: 1;
    margin: 48px 0 0 0;

    color: #ffffff;

    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
  }

  .place__frame_type_linear-gradient {
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  }

  .place__frame_type_blur {
    box-shadow: 5px 5px 10px 0px #00000040;
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: auto;
    max-width: 720px;
    height: auto;

    opacity: 1;
    margin: 0 auto 0;
  }

  .place__content {
    margin: 0;
  }

  .place__content_city {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(2, auto) 320px repeat(2, auto);
  }
  .place__content_Gales {
    margin: 0 0 50px 0;
  }

  .place__content_EEUU {
    margin: 0 0 50px 0;
  }

  .place__content_Burundi {
    margin: 0 0 50px 0;
  }

  .place__content_Veracruz {
    margin: 0;
  }

  .place__title {
    grid-column: 1;
    grid-row: 1;

    width: 288px;

    height: auto;

    color: #ffffff;

    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;

    margin: 0 auto 48px;
  }

  .place__website {
    grid-column: 1;
    grid-row: 2;

    width: 288px;
    height: auto;

    margin: 0 auto 40px auto;
  }

  .place__link {
    width: auto;
    max-width: 67px;
    height: 15px;
    opacity: 1;

    color: #aaaaaa;

    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    text-transform: uppercase;

    margin: 0 0 8px 0;
  }

  .place__artist {
    width: auto;
    height: 22px;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;

    margin: 0;
  }

  .place__image {
    grid-column: 1;
    grid-row: 3;

    width: 320px;
    height: 320px;
    margin: 0;
  }
  .place__content-paragraph {
    grid-column: 1;
    grid-row: 4;
    margin: 30px 0 5px 0;
  }
  .place__paragraph {
    width: 288px;
    height: auto;
    opacity: 1;

    color: #ffffff;

    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .place__image_type_shadow {
    width: 340px;
    height: 340px;
    top: 2728px;
    left: 151px;
    opacity: 1;
    box-shadow: 5px 5px 10px 0px #000000;
  }

  .place__frame {
    width: 289px;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    padding: 13px 20px;
    gap: 10px;
  }

  .place__frame_text {
    grid-column: 1;
    grid-row: 5;

    width: 288px;
    height: 48px;
    opacity: 1;
    margin: 0 auto 0;
    color: #ffffff;

    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .place__frame_type_linear-gradient {
    background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  }

  .place__frame_type_blur {
    box-shadow: 5px 5px 10px 0px #00000040;
  }
}
